#footer {
    text-align: center;

    p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    margin-block: 10px 20px;
    }
}

#footer .container-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-block: 10px;
}

@media screen and (max-width: 767px) {
    #footer {
        p {
            font-size: 18px;
        }
    }

    #footer .container-redes {
        gap: 30px;
    }
}