.botao-hamburgue {
    display: flex;
    justify-content: end;
    margin: 10px 10px 10px;
    
}
.hamburger {
    display: none;
    background: rgba(1, 9, 28, 0.9);
    border: 1px solid #74FAC0;
    color: #74FAC0;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
}

#header {
    width: 100%;
    nav {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 50px auto;
    }
    ul {
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 50px;
        &:nth-child(2) {
            justify-content: end;
        }
        
    }
    nav:nth-child(1) {
        a {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 20px;
            text-decoration: underline;
            text-underline-offset: 4px;
            color: #FFFFFF;
        }
    }
}



@media screen and (max-width: 767px) {
    .hamburger {
    display: block;
  }

  


  #header.active {
    display: flex; /* aparece quando ativado */
  }




   #header {
        display: none;
        nav {
            
            align-items: center;
            
            gap: 40px;
        }
        ul {
            align-items: center;
            flex-direction: column;
            width: 85%;
            gap: 20px;
            &:nth-child(2) {
            justify-content: space-between;
            width: 60%;
            }
            img {
                width: 30px;
                height: 30px;
            }
        }
   }
        
}
