#main {
    width: 80%;
    margin: 120px auto;
}

.apresentacao {
    h1 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 78px;
        color: #FFFFFF;
        margin-block: 40px;
    }

    h2 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 29px;
        color: #FFFFFF;
    }

    p {
        
        width: 68%;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 29px;
        color: #FFFFFF;
    }

    a {
        display: inline-block;
        border-radius: 15px;
        padding: 10px 4%;
        background-color: #74FAC0;
        margin-block: 30px;

        font-family: 'Inter';
        font-weight: 700;
        font-size: 29px;
        text-align: center;
        color: #01091C;
    }
}

.article {
    padding-block: 5px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 80px auto;
    width: 100%;
    background: rgba(1, 9, 28, 0.75);
    border-radius: 20px;

    div {
        display: flex;
        gap: 60px;
        justify-content: center;
        flex-wrap: wrap;
        margin-block: 70px;
    }

    h1 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 66px;
        color: #FFFFFF;
    }

    p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 29px;
        text-align: center;
        color: #FFFFFF;
    }
}

.projetos {
    width: 100%;

    #img {
        background: url(/assets/images/img-projetos/image\ 22\ \(1\).png);
        
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .h1 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 66px;
        color: #ffffff;

        margin-bottom: 40px;
    }

    aside {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 40px;
    }
    
    div {
        width: 45%;
        background: rgba(1, 9, 28, 0.9);
        border-radius: 15px;
        padding: 30px;
        h1 {
            margin-bottom: 30px;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 32px;
            color: #FFFFFF;
        }
        
        
        p {
            margin-bottom: 30px;
            width: 60%;

            font-family: 'Inter';
            font-weight: 700;
            font-size: 26px;
            color: #FFFFFF;
        }

        span {
            font-family: 'Inter';
            font-style: italic;
            font-weight: 400;
            font-size: 26px;
            color: #FFFFFF;
        }

        a {
            display: inline-block;
            padding: 15px 15px;
            border-radius: 15px;
            margin-top: 80px;





            background: rgba(1, 9, 28, 0.9);
            border-radius: 15px;

            font-family: 'Inter';
            font-weight: 700;
            font-size: 21px;
            text-align: center;
            color: #74FAC0;
            border: 1px solid #74FAC0;
        }
    }
    div:nth-child(1) {
    background: url(/assets/images/img-projetos/image\ 10\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    }
    
    
}



.ver-mais {
    text-align: center;
    justify-content: center;

    a {
            
            display: inline-block;
            border: 1px solid #74FAC0;
            border-radius: 15px;
            padding: 8px 30px;

            font-family: 'Inter';
            font-weight: 700;
            font-size: 21px;
            color: #74FAC0;

            margin-top: 30px;
        }
}
@media screen and (max-width: 1050px) {
    #main {
        width: 90%;
        margin: 40px auto;
    }

    .article {
        p {
            width: 80%;
            margin: auto;
        }

        div {
            img {
                width: 100px;
            }
        }
    }
    
    .projetos {
        

        div {
            width: 50%;
            a {
                margin-top: 0px;
            }
            p {
                width: auto;
            }


        }
    }
}

@media screen and (max-width: 767px) {
    #main {
        width: 90%;
    }
    .apresentacao {
        text-align: center;
        h1 {
            font-size: 48px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            width: 100%;
            font-size: 20px;
        }
        a {
            width: 100%;
            margin-block: 50px;
            font-size: 20px;
        }
    }
    .article {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
            margin-bottom: 30px;
            width: 95%;
        }

        div {
            
            padding-inline: 5px;
            gap: 40px;
            margin-block: 20px;
        }
    }

    .projetos {

        .h1 {
            font-size: 30px;
        }

        aside {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 50px;
        }
        div {
            width: 100%;
            a {
                width: 100%;
                margin-top: 30px;
                font-size: 16px;
            }

            h1 {
                font-size: 24px;
            }

            p {
                width: auto;
                font-size: 20px;
            }
            span {
                font-size: 18px;
            }
        }

        div:nth-child(1) {
            width: 100%;
            min-height: 230px;
        }
    }

    .ver-mais {
        margin: auto;
        a {
            width: 100%;
            margin: 50px auto;
            font-size: 18px;
        }
    }

}